@import "tailwindcss";

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        scroll-behavior: smooth;
    }
}

/* hide scroll bar firefox */
.description {
    scrollbar-width: none;
}

body {
 font-family: "Oswald";
  background: black;
    -ms-overflow-style: none;
/*    who actually uses edge lol ?? dear 3 users, you're welcome, no more visible scrollbar <3 */
}

body::-webkit-scrollbar {
    display: none;
}



/* hide scrollbar webkit based browsers*/
.description::-webkit-scrollbar {
    display: none;
}

.menu-a,
.menu-p {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 115%;
    margin-top: 2px;
}

.menu-pf, .menu-af {
    color: white;
}

.page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: white;
}

.page-title sup {
  position: relative;
  vertical-align: super;
  font-size: 1.5vw;
  letter-spacing: 0;
}



.hover-line-a {
    position: relative;
    display: inline-block; /* ensures width wraps only content */
    text-decoration: none;
    cursor: pointer;
}

.hover-line-text {
    position: relative;
    z-index: 1;
}

.hover-line-span {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transition: width 0.3s ease;
    z-index: 0;
}

.hover-line-a:hover .hover-line-span {
    width: 100%;
}


@media(max-width: 768px) {
  .page-content h1 {
    font-size: 10vw;
  }
  h1 sup {
    font-size: 4vw;
  }
}




